node_modules
_OLD
_data/data/*
!_data/data/README.md
_data/db/*

_local.env

api/lib

app/build
app/android
app/ios

app/resources/android
app/resources/blackberry10
app/resources/ios
app/resources/windows

app/resource_generator/**/android
app/resource_generator/**/blackberry10
app/resource_generator/**/ios
app/resource_generator/**/windows


_db
__pycache__
notebooks
ntoebooks/*
.idea/
.idea/*

