fastapi[all]
# uvicorn[standard]
astropy
astroquery
#setuptools
#wheel
#memory_profiler
#umap-learn
#pyod
#pynndescent
#future
#termcolor
dash
dash-renderer
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
flask
Flask-Caching
h5py
matplotlib
numpy
pandas
flask_restful
plotly
pydantic
scipy